*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
}

div.box-main{
    height: 100vh;
    width: 100%;
    background-image: url('/src/images/background.png');
    background-color: #191919;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
nav{
    
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px;
}
.portifolio{
    color: #ffffff;
    font-size: 40px;
    font-weight: 500;
}
.portifolio span{
    color: #f9004d;
}
a{
    color: #ffffff;
}
ul li {
    list-style: none;
    display: inline-block;
    font-size: 25px;
    margin-right: 30px;
    cursor: pointer;
}
li a:hover{
    color: #f9004d;
    cursor: pointer;
    transition: 0.5ms;

}
.meu-nome{
    position: absolute;
    bottom: 40%;
    left: 7%;
}
h1{
    color: white;
    font-size: 60px;
}
h1 span{
    color: #f9004d;
}
.meu-nome h3 {
    color: white;
    font-size: 25px;
}
section{
    display: flex;
    align-items: center;
    
    padding: 60px 15%;
    background-color: #000;
}
section img{
    height: 300px;
    margin-right: 30px;
    border: 2px solid #f9004d ;
    border-radius: 100%;
}
section div h2{
    color: white;
    font-size: 75px;
}
section div p{
    color: whitesmoke;
    font-size: 23px;
    margin-top: 30px;
    margin-bottom: 50px;

}
section button{
    color: white;
    background: #f9004d;
    font-size: 18px;
    height: 50px;
    width: 180px;
    border: none;
    border-radius: 20px;
}

section div button:hover{
    background-color: black;
    border: 3px solid #f9004d;
    transition: 0.3ms;
    cursor: pointer;
}
.projetos{
    background-color: #191919;
    padding:50px 100px;

}
.projetos h2{
    color: white;
    font-size: 75px;
    text-align: center;
}
.card{
    background-color: #000;
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    border-radius: 20px;
    text-align: center;
}
.card img{
    height: 100px;

}
.card h5{
    color: white;
    font-size: 24px;
}
.card p {
    color: #ffffff;
    margin: 20px 40px;
}
.card a{
    background-color: #f9004d;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
}
.card a:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    transition: 0.6ms;
}
.card-projetos{
    
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
footer{
    background-color: #000;
    padding-top: 100px;
    padding-bottom: 120px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer h5{
    color: #ffffff;
    font-size: 30px;
}
footer p{
    color: white;
    font-size: 18px;
    margin-bottom: 30px;
    margin-top: 14px;
}
.contato img{
    height: 25px;
}
